body {
    font-family: 'Roboto', 'Montserrat', sans-serif;
    background-color: rgb(171, 235, 213);
}


.main-container {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    

}



.buttons {
    height: 200px;
    width: auto;
    margin: 40px;
    
   
}


#result2 {
    font-size: 28px;
    font-family: 'Roboto', 'Montserrat', sans-serif;
}


#player {
   border: solid grey;
   margin: 40px;
   border-radius: 15px;
}

#computer {
   border: solid grey;
   margin: 40px;
   border-radius: 15px;
}




#roc {
    height: 150px;
    width: auto;
    display: none;
    margin-top: 50px;
   
    
}

#pap {
    height: 150px;
    width: auto;
    display: none;
    margin-top: 50px;
    
}

#scis {
    height: 150px;
    width: auto;
    display: none;
    margin-top: 50px;
    
}


#scorebox {
    display: flex;
    height: 500px;
    width: 1200px;
    
    
    justify-content: space-between;
}


#invisible {
    display: none;

}




.retry {
    background: rgb(182, 182, 182);
    height: 100px;
    width: auto;
    display: block;
    border-radius: 10px;
    box-shadow: rgb(32, 32, 32);
    font-size: 26px;
}

#retryButton {
    margin: 30px;
}

#playerscore {
  
  text-align: center;
  font-size: 30px bold;
}

#computerscore {
   
   text-align: center;
   font-size: 30px bold;
}